@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&display=swap');
@font-face {
    font-family: Sambia;
    src: url('fonts/ZektonBd-Bold.ttf');
}

a, p, h2, h1, div, input{
    font-family: "Nunito";
}

/* header */

#container{
    height: 882px;
    background-repeat: no-repeat;
    background-image: url('img/header_background.png');
    color: white;
}
    #upper_part_header{
        display: flex;
        justify-content: space-between;
        padding: 42px 93px;
    }
        #upper_part_header img{
            height: 95.8px;
        }
            nav a, nav a:visited{
                font-size: 25px;
                font-weight: 500;
                text-decoration: none;
                margin-left: 107px;
                color: white;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                transition-duration: 0.3s;
            }
            nav a:hover{
                color: rgb(255, 255, 255, 0.7);
            }
            #mobile_menu{
                display: none;
            }
    #header_title{
        margin-top: 129.2px;
        height: 239px;
    }
        #middle_line{
            font-family: Sambia;
            font-size: 100px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
        #upper_line, #lower_line{
            font-size: 40px;
            font-weight: 600;
            font-family: Sambia;
        }
        #upper_line{
            margin-left: 49px;
        }
        #lower_line{
            margin-top: 110px;
            position: absolute;
            right: 58px;
        }
    #header_socials{
        position: absolute;
        right: 93px;
    }
        #header_socials div{
            background-color: rgb(255, 255, 255, 0.37);
            width: 67px;
            height: 61px;
            position: relative;
            margin-bottom: 38px;
            transition-duration: 0.3s;
            transition-property: background-color;
        }
        #header_socials div:hover{
            background-color: rgb(255, 255, 255, 0.47);
            box-sizing: border-box;
        }
            #header_socials a{
                display: block;
                width: 100%;
                height: 100%;
            }
            #header_socials img{
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        
@media screen and (min-width: 1600px) {
    #container{
        height: 951px;
        background-image: url('img/big_format/header_background.png');
    }
}

@media screen and (min-width: 375px) and (max-width: 1365px) {
    #container{
        height: 600px;
        background-image: url('img/mobile/header_background.png');
    }
    #upper_part_header{
        display: flex;
        justify-content: space-between;
        padding: 28px 32px;
    }
        #upper_part_header img{
            height: 59.88px;
        }
            nav{
                display: none;
            }
            #mobile_menu{
                margin-top: 20px;
                display: block;
            }
            #mobile_menu:hover{
                opacity: 0.7;
            }
    #header_title{
        margin-top: 120.12px;
        height: 110px;
    }
        #middle_line{
            font-size: 58px;
            font-size: 700;
        }
        #upper_line, #lower_line{
            font-size: 20px;
            font-weight: 600;
        }
        #upper_line{
            margin-left: 7px;
        }
        #lower_line{
            margin-top: 70px;
            right: -30px;
            width: 343px;
        }
    #header_socials{
        right: 21px;
        margin-top: 85px;
    }
        #header_socials div{
            width: 40px;
            height: 36px;
            margin-bottom: 23px;
        }
            #header_socials img{
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
            #header_telegram{
                height: 30px;
                width: 29px;
            }
            #header_vk{
                height: 36px;
                width: 37px;
            }
}


/* Gallery */

#gallery{
    padding-top: 95px;
    background-image: url('img/Gallery_gradient.png');
    background-repeat: no-repeat;
}
.slider{
    height: 773px;
    margin-left: -64px;
    margin-right: -144px;
}
    .slider__item{
        position: relative;
        margin-top: 95px;
        width: 430px;
        height: 583px;
        transition: 0.5s ease-in;
        background-size: cover;
    }
        .first{
            background-image: url('img/Gallery_2.png');
        }
        .second{
            background-image: url('img/Gallery_3.png');
        }
        .third{
            background-image: url('img/Gallery_1.png');
        }

        .blackout{
            position: absolute;
            height: 100%;
            width: 100%;
            background-color: black;
            transition: 0.5s ease-in;
            opacity: 0.4;
        }

        .gallery_item_title{
            display: none;
            
        }
    .center .slider__item{
        width: 580px;
        height: 773px;
        margin-top: 0;
        margin-left: -75px;
    }
    .center .blackout{
        opacity: 0;
    }
    .center .gallery_item_title{
        display: block;
        height: 70px;
        font-size: 30px;
        text-align: right;
        padding: 15px;
        box-sizing: border-box;
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: rgb(0, 0, 0, 0.3);
        color: white;
    }

    #gallery_slider{
        position: relative;
    }
        .slider__btn-left, .slider__btn-right{
            width: 63px;
            height: 63px;
            border-radius: 100px;
            border: none;
            background-color: rgb(255, 255, 255, 0.76);
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 100;
            transition-duration: 0.4s;
        }
        .slider__btn-left{
            left: 285px;
        }
            .slider__btn-left img{
                transform: translateX(-3px);
            }
        .slider__btn-right{
            right: 287px;
        }
            .slider__btn-right img{
                transform: translateX(3px);
            }
        .slider__btn-left:hover, .slider__btn-right:hover{
            background-color: rgb(255, 255, 255, 0.56);
        }

    #gallery_text{
        text-align: center;
        margin-top: 55px;
        padding: 0 93px;
    }
        #gallery_text h1{
            font-size: 64px;
            line-height: 87.3px;
            margin-bottom: 21px;
            font-weight: 600;
        }
        #gallery_text p{
            text-align: justify;
            font-size: 24px;
            font-weight: 600;
            line-height: 38.62px;
        }

@media screen and (min-width: 1600px) {
    #gallery{
        background-size: contain;
    }
    .slider{
        height: 853px;
        margin: 0 20px;
    }
        .slider__item{
            position: relative;
            margin-top: 140px;
            width: 430px;
            height: 583px;
            transition: 0.5s ease-in;
            background-size: cover;
        }
            .first{
                background-image: url('img/big_format/Gallery_2.png');
            }
            .second{
                background-image: url('img/big_format/Gallery_3.png');
            }
            .third{
                background-image: url('img/big_format/Gallery_1.png');
            }
        .center .slider__item{
            width: 663px;
            height: 853px;
            margin-left: -116px;
        }
        .center .gallery_item_title{
            height: 80px;
            font-size: 40px;
            padding: 15px;
        }
            .slider__btn-left{
                left: 375px;
            }
            .slider__btn-right{
                right: 351px;
            }
            .slider__btn-left:hover, .slider__btn-right:hover{
                background-color: rgb(255, 255, 255, 0.56);
            }
    
        #gallery_text{
            text-align: center;
            margin-top: 55px;
            padding: 0 93px;
        }
            #gallery_text h1{
                font-size: 84px;
                line-height: 87.3px;
                margin-bottom: 21px;
                font-weight: 600;
            }
            #gallery_text p{
                text-align: justify;
                font-size: 32px;
                font-weight: 600;
                line-height: 44.62px;
            }
}
@media screen and (min-width: 375px) and (max-width: 1365px) {
    #gallery{
        padding-top: 19px;
    }
    .slider{
        height: 453px;
        margin-left: -290px;
        margin-right: -294px;
    }
        .slider__item{
            width: 299px;
            height: 398px;
            margin-top: 28px;
        }
        .center .slider__item{
            display: block;
            width: 340px;
            height: 453px;
            margin-top: 0;
            margin-left: -20px;
        }
        .center .gallery_item_title{
            height: 41px;
            font-size: 20px;
            text-align: center;
            padding: 8px;
        }
    
        #gallery_slider{
            position: relative;
        }
            .slider__btn-left, .slider__btn-right{
                display: none;
            }
    
        #gallery_text{
            margin-top: 35px;
            padding: 0 25px;
        }
            #gallery_text h1{
                font-size: 34px;
                line-height: 46.38px;
                margin-bottom: 1px;
            }
            #gallery_text p{
                font-size: 16px;
                line-height: 25.1px;
                font-weight: 600;
            }
}


/* Tours */


#tours{
    margin-top: 53.5px;
}
.first_tour, .third_tour{
    color: white;
}
    .first_tour {
        height: 993px;
        background-image: url('img/Tour_background_1.png');
        padding-top: 126.5px;
    }
    .third_tour{
        height: 976px;
        background-image: url('img/Tour_background_2.png');
        padding-top: 74px;
    }
        #tours_title{
            font-size: 64px;
            text-align: center;
            color: white;
            margin-bottom: 36px;
        }
        .tour_container {
            display: flex;
            padding: 0px 93px;
            justify-content: space-between;
            position: relative;
            height: 667px;

        }
        .second_tour .tour_container{
            padding: 30px 93px;
            height: 807px;

        }
            .tour_container img{
                width: 580px;
                height: 667px;
                position: absolute;
                box-shadow: -4px 0px 25px 3px rgba(2, 10, 26, 0.45);
            }
            .second_tour img{
                right: 85px;
                margin: 10px;
            }
            .img_mobile{
                display: none;
            }
            .tour_desription{
                width: 555px;
                overflow: visible;
                text-align: right;
                position: absolute;
                right: 93px;
                top: 50%;
                transform: translateY(-65%);
            }
            .second_tour .tour_desription{
                text-align: left;
                left: 93px;
            }
                .tour_desription h2{
                    font-size: 44px;
                    margin-bottom: 27px;
                }
                .tour_desription p{
                    font-size: 24px;
                    margin-bottom: 18px;
                    text-align: justify;
                }

.btn {
    position: relative;
    overflow: visible;
}
.third_tour .btn{
    margin-top: 60px;
}
    .btn_front {
        position: absolute;
        top: 0px;
        right: 0px;
        text-align: center;
        padding-top: 2px;
        font-size: 34px;
        width: 210px;
        height: 65px;
        border: 4px solid white;
        border-radius: 10px;
        background-color: #071434;
        display: inline-block;
        z-index: 2;
        transition-duration: 0.3s;
    }
    .second_tour .btn_front{
        border: 4px solid #071434;
        background-color: white;
    }
    .btn_back{
        border: 1px solid white;
        border-radius: 10px;
        width: 210px;
        height: 65px;
        position: absolute;
        top: -12px;
        right: 12px;
        transition-duration: 0.3s;
    }
    .second_tour .btn_back{
        border: 1px solid #071434;
        background-color: white;
    }
        .btn:hover .btn_front, .btn:hover .btn_back{
            top: -6px;
            right: 6px;
        }
    .btn_more_front{
        position: absolute;
        top: 0px;
        right: 50%;
        transform: translateX(50%);
        text-align: center;
        padding-top: 2px;
        font-size: 34px;
        width: 348px;
        height: 66px;
        border: 4px solid white;
        border-radius: 10px;
        background-color: #071434;
        display: inline-block;
        z-index: 2;
        transition-duration: 0.3s;
    }
    .btn_more_back{
        border: 1px solid white;
        border-radius: 10px;
        width: 348px;
        height: 66px;
        position: absolute;
        top: -12px;
        right: 51%;
        transform: translateX(50%);
        transition-duration: 0.3s;
    }
        .btn:hover .btn_more_front, .btn:hover .btn_more_back{
            top: -6px;
            right: 50.5%;
        }

@media screen and (min-width: 1600px) {
    #tours{
        margin-top: 123.5px;
    }
        .first_tour {
            height: 1160px;
            background-image: url('img/big_format/Tour_background_1.png');
            padding-top: 146.5px;
        }
        .third_tour{
            margin-top: 140px;
            height: 1143px;
            background-image: url('img/big_format/Tour_background_2.png');
            padding-top: 104px;
        }
            #tours_title{
                font-size: 74px;
                margin-bottom: 46px;
            }
            .tour_container {
                height: 740px;
            }
            .second_tour .tour_container{
                padding: 30px 93px;
                height: 807px;
            }
                .tour_container img{
                    width: 639px;
                    height: 100%;
                }
                .second_tour img{
                    right: 85px;
                    margin: 10px;
                }
                .tour_desription{
                    width: 655px;
                }
                    .tour_desription h2{
                        font-size: 54px;
                        margin-bottom: 37px;
                    }
                    .tour_desription p{
                        font-size: 30px;
                        margin-bottom: 30px;
                    }
    
    .third_tour > .btn{
        margin-top: 90px;
    }
        .btn_front {
            padding-top: 2px;
            font-size: 44px;
            width: 240px;
            height: 75px;
        }
        .btn_back{
            width: 240px;
            height: 75px;
        }
        .btn_more_front{
            padding-top: 2px;
            font-size: 44px;
            width: 438px;
            height: 76px;
        }
        .btn_more_back{
            width: 438px;
            height: 76px;
        }
}

@media screen and (min-width: 375px) and (max-width: 1365px) {
    #tours{
        margin-top: 33.5px;
    }
        .first_tour {
            height: 816px;
            background-image: url('img/mobile/Tour_background_1.png');
            padding-top: 90px;
        }
        .third_tour{
            height: 856px;
            background-image: url('img/mobile/Tour_background_2.png');
            padding-top: 110px;
        }
            #tours_title{
                font-size: 28px;
                margin-bottom: 17px;
            }
            .tour_container, .second_tour .tour_container{
                display: block;
                padding: 0px 18px;
                height: 392px;
            }
            .second_tour .tour_container{
                height: 625px;
            }
                .tour_container img{
                    width: 339px;
                    height: 392px;
                    position: relative;
                    box-shadow: -4px 0px 25px 3px rgba(2, 10, 26, 0.45);
                }
                .second_tour img{
                    right: 0px;
                    margin: 27px 0 0 0;
                }
                .img_notmobile{
                    display: none;
                }
                .img_mobile{
                    display: block;
                }
                .tour_desription, .second_tour .tour_desription{
                    width: 100%;
                    overflow: visible;
                    text-align: center;
                    position: relative;
                    right: 0px;
                    left: 0;
                    top: 0;
                    transform: translateY(0%);
                    margin-top: 20px;
                }
                    .tour_desription h2{
                        font-size: 22px;
                        margin-bottom: 9px;
                    }
                    .tour_desription p{
                        font-size: 14px;
                        margin-bottom: 18px;
                        line-height: 22.53px;
                    }
    .third_tour .btn{
        margin-top: 30px;
    }
        .btn_front {
            margin-right: 25px;
            padding-top: 0px;
            font-size: 16px;
            width: 93px;
            height: 33px;
        }
        .btn_back{
            margin-right: 25px;
            width: 93px;
            height: 33px;
            position: absolute;
            top: -4px;
            right: 4px;
        }
        .btn_more_front{
            position: relative;
            right: 0%;
            left: 50%;
            top: 220px;
            transform: translateX(-50%);
            margin: auto;
            text-align: center;
            padding-top: 2px;
            font-size: 16px;
            width: 167px;
            height: 40px;
        }
        .btn_more_back{
            width: 167px;
            height: 40px;
            position: relative;
            right: 0%;
            left: 49%;
            top: 173px;
            transform: translateX(-50%);
        }
            .btn:hover .btn_more_front{
                left: 50%;
                top: 220px;
                transform: translateX(-50%);
            }
            .btn:hover .btn_more_back{
                right: 0%;
                left: 49%;
                top: 173px;
                transform: translateX(-50%);
            }
}


/* reviews */


#reviews{
    background-image: url('img/Registration_gradient.png');
    background-position: bottom;
    background-repeat: no-repeat;
}
#reviews_container{
    text-align: center;
    height: 641px;
    padding-top: 112px;
}
    #reviews_container h1{
        font-size: 64px;
    }
#review_mobile{
    display: none;
}
#review{
    height: 290px;
    width: 1115px;
    background-color: #fff;
    box-shadow: 0px 8px 13px 2px rgba(0, 0, 0, 0.25);
    overflow: visible;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 63px 65px;
    margin-top: 39px;
    box-sizing: border-box;
    position: relative;
}
    #review > p{
        font-weight: 600;
        font-size: 24px;
        line-height: 38.62px;
        text-align: left;
        width: 707px;
    }
#user{
    text-align: right;
    margin-right: 30px;
}
    #user img{
        width: 104px;
        margin-right: 10px;
        margin-bottom: 24px;
    }
    #user p{
        font-weight: 700;
        font-size: 24px;
        line-height: 38.62px;
    }
#rewiev_btn_left, #rewiev_btn_right{
    border: none;
    border-radius: 100px;
    width: 65px;
    height: 64px;
    background-color: rgb(0, 0, 0, 0.49);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition-duration: 0.5s;
}
    #rewiev_btn_left:hover, #rewiev_btn_right:hover{
        background-color: rgb(0, 0, 0, 0.69);
    }
#rewiev_btn_left{
    left: -50px;
}
#rewiev_btn_right{
    right: -40px;
}
    #rewiev_btn_left img{
        margin-right: 3px;
    }
    #rewiev_btn_right img{
        margin-left: 10px;
    }

@media screen and (min-width: 1600px) {
    #reviews{
        background-image: url('img/big_format/Registration_gradient.png');
    }
    #reviews_container{
        height: 741px;
        padding-top: 152px;
    }
        #reviews_container h1{
            font-size: 74px;
        }
    
    #review{
        height: 330px;
        width: 1315px;
        padding: 63px 65px;
        margin-top: 39px;
    }
        #review > p{
            font-size: 30px;
            line-height: 48.62px;
            width: 807px;
        }
    #user{
        margin-right: 35px;
    }
        #user img{
            width: 124px;
            margin-right: 20px;
            margin-bottom: 30px;
        }
        #user p{
            font-weight: 700;
            font-size: 30px;
            overflow: hidden;
            line-height: 38.62px;
        }
    #rewiev_btn_left, #rewiev_btn_right{
        width: 75px;
        height: 74px;
    }
}
@media screen and (min-width: 375px) and (max-width: 1365px) {
    #reviews{
        background-image: url('img/mobile/Registration_gradient.png');
        background-position: bottom;
        background-repeat: no-repeat;
    }
    #reviews_container{
        height: 276px;
        padding-top: 45px;
    }
        #reviews_container h1{
            font-size: 28px;
        }
    
    #review{
        display: none;
    }
    #review_mobile{
        display: block;
        margin-top: 21px;
        margin-left: -290px;
        margin-right: -294px;
    }
        #reviews .slider__item{
            background-image: none;
            background-color: #fff;
            display: flex;
            width: 299px;
            height: 107px;
            padding: 14px 22px;
            overflow: hidden;
            box-shadow: none;
            display: flex;
            justify-content: space-between;
            margin-top: 10px;
        }
        #reviews .center .slider__item{
            width: 339px;
            height: 127px;
            padding: 22px 14px;
            overflow: visible;
            margin-top: 0;
            margin-bottom: 30px;
            box-shadow: 0px 8px 13px 2px rgba(0, 0, 0, 0.25);
            transition: none;
        }
        .user{
            margin-left: 20px;
        }
        .user p{
            text-align: center;
            font-size: 12px;
            margin-right: 10px;
            font-weight: 700;
            width: 48px;
            overflow: visible;
        }
            #reviews .slider__item > p{
                font-size: 12px;
                font-weight: 700;
                line-height: 19.31px;
                text-align: justify;
            }
            #reviews .slider__item img{
                width: 48px;
                margin-bottom: 10px;
                margin-right: 0px;
            } 
}


/* Registration */

#registration{
    height: 896px;
    width: 1366px;
    background-image: url('img/registration_background.png');
}
    #registration_container{
        display: flex;
        justify-content: space-between;
        padding: 97px 64px;
    }  
        #registration_form{
            width: 580px;
            height: 666px;
            background-color: #fff;
            border: 6px solid #071434;
        }
            #registration_form form{
                width: 381px;
                overflow: visible;
                padding-top: 73px;
                padding-left: 96px;
            }
                form .input{
                    width: 381px;
                    height: 60px;
                    margin-bottom: 37px;
                }
                form input{
                    width: 381px;
                    height: 60px;
                    padding: 0;
                    line-height: 0;
                    box-sizing: border-box;
                    border: 2px solid #071434;
                    font-size: 22px;
                    padding-left: 32px;
                }
                #registration .btn_front{
                    width: 368px;
                    height: 68px;
                    padding-top: 7px;
                    font-size: 31px;
                    border: 4px solid #071434;
                    color: white;
                    position: absolute;
                    left: 50%;
                    transform: translate(-36%);
                }
                #registration .btn_back{
                    border: 1px solid #071434;
                    width: 368px;
                    height: 68px;
                    top: -6px;
                    left: 2px;
                }
                #registration .btn:hover .btn_front{
                    left: 48%;
                }
                #registration .btn:hover .btn_back{
                    left: 4px;
                }
                form p{
                    display: none;
                    color: red;
                    padding-top: 5px;
                    padding-left: 5px;
                }
    #registration h1{
        font-size: 60px;
        font-weight: 700;
        line-height: 70.44px;
        text-align: right;
        width: 601px;
        color: white;
        margin-top: -34px;
    }
    .small_format{
        display: none;
    }

@media screen and (min-width: 1600px){
    #registration{
        height: 1024px;
        width: 1600px;
        background-image: url('img/big_format/registration_background.png');
    }
        #registration_container{
            padding: 117px 84px;
        }  
            #registration_form{
                width: 680px;
                height: 766px;
            }
                #registration_form form{
                    width: 541px;
                    padding-top: 93px;
                    padding-left: 116px;
                }
                    form .input{
                        width: 100%;
                        height: 70px;
                    }
                    form input{
                        width: 100%;
                        height: 70px;
                        font-size: 26px;
                    }
                    #registration .btn_front{
                        width: 408px;
                        padding-top: 7px;
                        font-size: 33px;
                        left: 50%;
                        transform: translate(-48%);
                    }
                    #registration .btn_back{
                        border: 1px solid #071434;
                        width: 408px;
                        top: -6px;
                    }
                    #registration .btn:hover .btn_back{
                        left: 7px;
                    }
                    form p{
                        display: none;
                        color: red;
                        padding-top: 5px;
                        padding-left: 5px;
                    }
        #registration h1{
            font-size: 66px;
            line-height: 80.44px;
            width: 701px;
            margin-top: -44px;
        }
}
@media screen and (min-width: 375px) and (max-width: 1365px) {
    #registration{
        height: 507px;
        width: 375px;
        background-image: url('img/mobile/registration_background.png');
    }
        #registration_container{
            display: block;
            padding: 11px 18px;
        }  
            #registration_form{
                width: 339px;
                height: 389px;
                border: 4px solid #071434;
            }
                #registration_form form{
                    width: 247px;
                    padding-top: 27px;
                    padding-left: 42px;
                }
                    form .input{
                        width: 247px;
                        height: 35px;
                        margin-bottom: 22px;
                    }
                    form input{
                        width: 100%;
                        height: 35px;
                        font-size: 18px;
                        padding-left: 22px;
                    }
                    #registration .btn{
                        margin-top: 30px;
                    }
                    #registration .btn_front{
                        width: 240px;
                        height: 35px;
                        padding-top: 2px;
                        font-size: 18px;
                        border: 2px solid #071434;
                        left: 50%;
                        transform: translate(-40%);
                    }
                    #registration .btn_back{
                        border: 1px solid #071434;
                        width: 240px;
                        height: 35px;
                        top: -3px;
                        left: 2px;
                    }
                    #registration .btn:hover .btn_front{
                        left: 48%;
                    }
                    #registration .btn:hover .btn_back{
                        top: -6px;
                        left: 3px;
                    }
                    form p{
                        display: none;
                        color: red;
                        padding-top: 2px;
                        padding-left: 5px;
                        font-size: 12px;
                    }
        #registration h1{
            font-size: 28px;
            line-height: 32.87px;
            width: 295px;
            margin-top: 7px;
            text-align: center;
            margin-bottom: 11px;
        }
        .small_format{
            display: block;
            padding: 0 24px;
        }
        .big_format{
            display: none;
        }
}


/* footer */

footer{
    width: 1366px;
    height: 240px;
    background-color: #071434;
}
    #footer_wrapper{
        padding: 61px 97px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
        #footer_wrapper > img{
            width: 128px;
            height: 96px;
        }
    #nav_footer{
        display: flex;
        justify-content: space-between;
        column-gap: 27px;
        color: white;
        font-size: 24px;
        margin-left: 80px;
    }
        #nav_footer a, #nav_footer a:visited{
            color: white;
            text-decoration: NONE;
        }
    #footer_socials{
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 42px;
    }
        #footer_socials div{
            width: 67px;
            height: 61px;
            background-color: rgb(255, 255, 255, 0.37);
            text-align: center;
        }
        #footer_socials div:first-child img{
            margin-top: 5px;
        }
    footer span{
        color: white;
        margin-bottom: 10px;
        margin-left: 10px;
    }

@media screen and (min-width: 1600px){
    footer{
        width: 1600px;
        height: 240px;
    }
            #footer_wrapper > img{
                width: 148px;
                height: 116px;
            }
        #nav_footer{
            column-gap: 37px;
            font-size: 28px;
        }
        #footer_socials{
            column-gap: 52px;
        }
            #footer_socials div{
                width: 77px;
                height: 71px;
            }
            #footer_socials div:first-child img{
                margin-top: 10px;
            }
            #footer_socials div:last-child img{
                margin-top: 5px;
            }
        footer span{
            color: white;
            margin-bottom: 10px;
            margin-left: 10px;
        }
}
@media screen and (min-width: 375px) and (max-width: 1365px) {
    footer{
        width: 375px;
        height: 99px;
    }
        #footer_wrapper{
            padding: 27px 29px;
        }
            #footer_wrapper > img{
                width: 53px;
                height: 39px;
            }
        #nav_footer{
            display: none;
        }
        #footer_socials{
            column-gap: 20px;
        }
            #footer_socials div{
                width: 30px;
                height: 28px;
            }
            #footer_socials img{
                width: 28px;
                height: 27px;
            }
            #footer_socials div:first-child img{
                margin-top: 2px;
                width: 22px;
                height: 22px;
            }
        footer span{
            color: white;
            margin-bottom: 10px;
            margin-left: 10px;
        }
}